.purchases-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.person-display {
    width: 300px;
    background-color: #a9c5da;
    height: 400px;
    margin: 30px;
}

.person-name {
    font-size: 30px;
    margin: 20px;
    padding-bottom: 10px;
    border-color: black;
    border: solid;
    border-width : 0 0 2px 0;
}